<!doctype html>
<html>
   <body>
        <form action = "/strains" method="POST">
            Description: <input type="text" name="description" />
            <br /><br />
            Created By: <input type="text" name="created_by" />
            <br /><br />
            Creation Date (ex. 2020-01-11): <input type="text" name="creation_date" />
            <br /><br />
            Notes: <input type="text" name="notes" />
            <br /><br />
            <input type="submit" value="submit">
        </form>
   </body>
</html>