            <input type="file" name="file">
            <br /><br />
            <input type="submit" value="submit">

        file = request.files['file']
        # make sure a file was submitted
        if file.filename == '':
            flash('No selected file')
            return redirect(request.url)
        if file and allowed_file(file.filename):
            filename = secure_filename(file.filename)
            file.save(os.path.join(app.config['UPLOAD_FOLDER'], filename))
        snapgene_files = url_for('uploaded_file',
                                    filename=filename)